<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>In-House Clinic Appointment</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/jumbotron/">

    <!-- Bootstrap core CSS --> 
    <!-- hiding this path since manually placing the CSS under home.component.scss -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <img src="assets/dell.logo.PNG" height="35">
      <a class="navbar-brand" href="#">    Dell In-House Clinic Apppoinment System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    </nav>

    <main role="main">
 
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">  
          <div class="container">
              <div class="row">
                  <div class="col-md-5" style="margin-top:100px;margin-bottom:130px; padding: 10px;margin-left: 150px; ">
                      <div class="card text-center">
                          <div class="card-header">
                              <h3>Please login to proceed</h3>
                          </div>
    
                          <div class="card-footer text-muted">
                              <form>
                                  <div class="form-group row">
                                      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                      <div class="col-sm-10">
                                          <input type="email" name ="inputEmail" class="form-control" id="inputEmail" placeholder="email@dell.com" required>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                      <div class="col-sm-10">
                                          <input type="password" name ="inputPassword" class="form-control" id="inputPassword" placeholder="password" required>
                                      </div>
                                  </div>
                                  <div class="form-group row">

                                  </div>
                                  <div class="form-group row">
                                      <div class="col-sm-10 offset-sm-2">
                                          <a class="btn btn-primary btn-lg" href="home/7">Login</a>
                                          <button onclick="OnSubmit(inputEmail.value,inputPassword.value)">Login</button>
                                          
                                          <!-- <button onclick="ValidateUser(inputEmail.value,inputPassword.value)">Validate</button> -->
                                   
                                           <div class="divider"></div> 
                                          <a class="btn btn-primary btn-lg" style="margin-right: 5px" href="./login">Reset Password</a>
                                      </div>
                                  </div>
                                </form>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
      </div>

    </main>

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
